@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudGrid Spacing="3" Justify="Justify.Center">
            <MudItem xs = "12"><MudText Typo="Typo.h2" Align="Align.Center">Welcome to the Participatory Budgetting page!</MudText></MudItem>
            <MudItem xs = "12"><MudText Typo = "Typo.h3" Align="Align.Center">Choose An Option To Start</MudText></MudItem>
            <MudItem xs = "12"></MudItem>
            <MudItem xs = "12"></MudItem>
            <MudItem xs="12" >
                <MudButton Style="background-color:rebeccapurple;color: wheat" Class="full-width-btn" Size="Size.Large" Href="/createInstance">
                    Create Instance
                </MudButton>
            </MudItem>
            <MudItem xs="6"><MudTextField T="string" Value="@_textValue" Label="Join Code" Variant="Variant.Outlined" ValueChanged="@(value => UpdateTextValue(value))" ></MudTextField></MudItem>
            <MudItem xs="6"><MudButton  Style="background-color: rebeccapurple; color: wheat" Class="full-width-btn" Href="@($"/vote/{_textValue}")" Disabled="@(string.IsNullOrWhiteSpace(_textValue))" >Join</MudButton></MudItem>
            <MudItem xs = "12">
                <MudButton Style="background-color: rebeccapurple;color: wheat" Class="full-width-btn" Size="Size.Large" Href="/prevPb">
                    See Previous Instances
                </MudButton>
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>


@code
{
    private string _textValue="";


    private void UpdateTextValue(string value)
    {
        _textValue = value;
        StateHasChanged();
    }
}
